<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        <nav>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Accueil</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu">
                    {% for article in articles %}
                  <li><a class="dropdown-item" href="{{ path('article_show', {'id' : article.id}) }}">{{ article.title }}</a></li>
                    {% endfor %}
                  <li><hr class="dropdown-divider"></li>
                    {% for category in categories %}
                  <li><a class="dropdown-item" href="{{ path('category_show', {'id' : category.id}) }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
